/*
* {
    margin: 0px;
    padding: 0px;
}
*/

body {

}

#container {
    width: 99%;
    margin: 0 auto;
    background-color: #F5F6F5;
/*    margin-top: 60px;*/
}

#header {
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: rgba(44, 44, 44, 0.8);
    width: 90%;
}

#display {
    min-height: 30px;
    background-color: #FFF;
}

#display img {

}

#buttom {
    height: 30px;
}

#buttom p {
    padding: 7px 36%;
    font-size: 0.7em;
}